[flake8]
  max-line-length = 120
  # Errors and warnings to ignore
  extend-ignore =
     # line too long (90 > 79 characters)
     E501,
     # too many blank lines (2)
     E303,
     # expected 2 blank lines, found 1
     E302,
     # at least two spaces before inline comment
     E261,
     # block comment should start with '# '
     E265,
     # whitespace before ':'
     E203,
     # permit line breaks in binary operators
     W503,
     # permit line breaks in binary operators
     W504
  exclude: []
  count: True
  show-source: True
  statistics: True
