# .pylintrc to control pylint defaults

[TYPECHECK]
# List of decorators that produce context managers
contextmanager-decorators=contextlib.contextmanager,tf_contextlib.contextmanager

[MESSAGES CONTROL]
# Enable/disable message, report, category
# enable only errors
errors-only=yes

# disable (no-member) errors
disable=no-member
