language: python
os: linux
dist: focal

branches:
  only:
  - master

# What versions of python do we test with
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "pypy3"
  - "nightly"

jobs:
  allow_failures:
    # These don't need to work, but be nice if they did
    - python: "pypy3"
    # Latest python tested for future planning purposes
    - python: "nightly"

  fast_finish: true

  include:
    - stage: docs
      install: |
        sudo apt-get update;
        sudo apt-get install -y python3-pip python3-psycopg2 latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended;
        sudo pip3 install sphinx;
        sudo pip3 install -r requirements.txt;
        touch __init__.py;
      script: |
        cd doc;
        make rst html latexpdf

# Just some useful info and prep work
before_install:
  - uname -a
  - pip install -U pip
  - pip install -U pytest
  - echo ${TRAVIS_PYTHON_VERSION}
  - PYTHON_VERSION=$(python -c 'import sys;print("%d.%d" % sys.version_info[:2])')
  - PYTHON_FULL_VERSION=$(python -c 'import sys;print("%d.%d.%d" % sys.version_info[:3])')

  # setup the 'named version' link for nightly builds
  - if [[ "${TRAVIS_PYTHON_VERSION}" == "nightly" ]]; then
        sudo ln -s /opt/python/${PYTHON_VERSION}-dev /opt/python/${TRAVIS_PYTHON_VERSION};
        echo "Made /opt/python/${TRAVIS_PYTHON_VERSION}";
    fi

  # setup the 'simple major ver' link, missing for some versions on travis-ci....
  - if [[ ! -e /opt/python/${TRAVIS_PYTHON_VERSION} ]]; then
        sudo ln -s /opt/python/${PYTHON_FULL_VERSION} /opt/python/${TRAVIS_PYTHON_VERSION};
        echo "Made /opt/python/${TRAVIS_PYTHON_VERSION}";
    fi

  # Show loaded pythons
  - ls -l /opt/python/

  # some things don't look for pymalloc version
  - if [[ ! -e /opt/python/${TRAVIS_PYTHON_VERSION}/include/python${PYTHON_VERSION} ]]; then
        sudo ln -s /opt/python/${TRAVIS_PYTHON_VERSION}/include/python${PYTHON_VERSION}m /opt/python/${TRAVIS_PYTHON_VERSION}/include/python${PYTHON_VERSION};
    fi

  # old cmake and boost can't always find pypy
  - if [[ -e /opt/python/${TRAVIS_PYTHON_VERSION}/lib/libpypy3-c.so ]]; then
        PYPYVER=$(python -c 'import sys; print("%d.%d" % (sys.version_info.major, sys.version_info.minor))');
        sudo ln -s /opt/python/${TRAVIS_PYTHON_VERSION}/lib/libpypy3-c.so /opt/python/${TRAVIS_PYTHON_VERSION}/lib/libpython3.so;
        sudo ln -s /opt/python/${TRAVIS_PYTHON_VERSION}/lib/libpypy3-c.so /opt/python/${TRAVIS_PYTHON_VERSION}/lib/libpython${PYPYVER}.so;
    fi

# Environment variables
env:
  - PYTHONPATH=$(dirname ${TRAVIS_BUILD_DIR})    PYTHON_PATH=${PYTHONPATH}

# commands to install any dependencies
install:

  # build a local boost with our specific python
  - sudo apt-get install -y wget libicu-dev zlib1g-dev libbz2-dev g++
  - cd ~/
  - sudo chown -R travis /usr/local/

  # install PostgreSQL 11
  - wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
  - sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ $(lsb_release -sc)-pgdg main" > /etc/apt/sources.list.d/PostgreSQL.list'
  - sudo apt update
  - sudo apt-get install postgresql-11
  - export PATH=$PATH:/usr/lib/postgresql/11/bin

  ## This version of boost matches the default version in travis
  - travis_retry wget -c http://sourceforge.net/projects/boost/files/boost/1.58.0/boost_1_58_0.tar.gz
  - tar xf boost_1_58_0.tar.gz
  - cd boost_1_58_0
  - ./bootstrap.sh --with-libraries=system
  - ./b2 -q --prefix=/usr/local/ cxxflags=-fpermissive install -j 6

    # Setup pkg-config and cmake search paths to use the virtualenv python from travis
  - export PKG_CONFIG_PATH="/opt/python/${TRAVIS_PYTHON_VERSION}/lib/pkgconfig"
  - export PYVER=$(python -c 'import sys; print("%d.%d" % (sys.version_info.major, sys.version_info.minor))')

  # run cmake and build logic engine
  - sudo apt-get -y install cmake g++
  - pip install -U pybind11
  - mkdir -p ${TRAVIS_BUILD_DIR}/framework/logicengine/cxx/build
  - cd ${TRAVIS_BUILD_DIR}/framework/logicengine/cxx/build
  - cmake -DPYVER=${PYVER} -Dpybind11_DIR=$(pybind11-config --cmakedir) ..
  - make install

  # pull in any listed python requirements
  - cd ${TRAVIS_BUILD_DIR}
  - pip install -r requirements.txt
  - pip install coveralls

# command to run tests
script:
  - cd ${TRAVIS_BUILD_DIR}
  - coverage run -p -m pytest -v -l --durations=0 --tb=native ${TRAVIS_BUILD_DIR}/../
  - travis_wait coverage combine
  - coveralls
