# for buildtime
pybind11

# for runtime
jsonnet
pandas
six
tabulate

# for tests
wheel
DBUtils
mock
pycodestyle
pylint
pytest
psycopg2-binary
pytest-postgresql >= 2.5.0
pytest-timeout
sphinx_rtd_theme

# conditional requirements
psycopg2cffi; platform_python_implementation == 'PyPy'
