# for runtime
jsonnet
pandas
tabulate
toposort

# for tests
wheel
DBUtils

# for tests
mock
pycodestyle
pylint
pytest
pytest-cov >= 2.11.1
pytest-postgresql >= 2.5.0
pytest-timeout
sphinx_rtd_theme

# conditional requirements
psycopg2-binary; platform_python_implementation == 'CPython'
psycopg2cffi; platform_python_implementation == 'PyPy'
