# for runtime
jsonnet  >= 0.17.0
pandas >= 1.1.5
tabulate >= 0.8.7
toposort >= 1.6
wheel >= 0.36.2
DBUtils >= 2.0

# for tests
mock >= 4.0.3
pycodestyle >= 2.6.0
pylint >= 2.6.0
pytest >= 6.2.2
pytest-cov >= 2.11.1
pytest-postgresql >= 2.5.3
pytest-timeout >= 1.4.2
sphinx_rtd_theme >= 0.5.1

# conditional requirements
psycopg2-binary >= 2.8.6; platform_python_implementation == 'CPython'
psycopg2cffi >= 2.9.0; platform_python_implementation == 'PyPy'
