[Unit]
Description = Decision EngineService
Wants = network-online.target
After = network.target

[Service]
Type = simple
EnvironmentFile = -/etc/sysconfig/decisionengine
User = decisionengine
Group = decisionengine
ExecStart = /usr/bin/decisionengine
ExecStop = /usr/bin/de-client stop

[Install]
WantedBy = multi-user.target
