[Unit]
Description = Decision EngineService
Wants = network-online.target
After = network.target

[Service]
Type = simple
EnvironmentFile = -/etc/sysconfig/decisionengine
User = decisionengine
Group = decisionengine
PrivateTmp = true
ExecStart = /usr/bin/decisionengine "$DE_OPTS"
ExecStop = /usr/bin/echo "Running /usr/bin/de-client --stop" >&2
ExecStop = /usr/bin/de-client --stop

[Install]
WantedBy = multi-user.target
