# for runtime
jsonnet  >= 0.17.0
pandas >= 1.1.5
tabulate >= 0.8.7
toposort >= 1.6
wheel >= 0.36.2
DBUtils >= 2.0

# conditional requirements
psycopg2-binary >= 2.8.6; platform_python_implementation == 'CPython'
psycopg2cffi >= 2.9.0; platform_python_implementation == 'PyPy'
