# runtime is needed for testing
-r requirements-runtime.txt

# for tests
toml >= 0.10.2
mock >= 4.0.3
pycodestyle >= 2.6.0
pylint >= 2.6.0
pytest >= 6.2.2
pytest-cov >= 2.11.1
pytest-flake8 >= 1.0.7
pytest-postgresql >= 2.5.3
pytest-timeout >= 1.4.2

# for doc
sphinx_rtd_theme >= 0.5.1

# for packages
setuptools >= 42
setuptools-scm >= 5.0.1
setuptools-scm[toml] >= 5.0.1
